<a href="https://colab.research.google.com/github/akankshawaghmare/Microspectra/blob/main/DictionaryDataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d={'name':'akanksha','surname':'waghmare','dob':7,'bloodgroup':'A+'}
print(d)
print("name:",d.get('name'))
d['age']=23
print(d)
print(d.pop('bloodgroup'))   #pop method will give us the arguments output
print(d.popitem())   #pop item will give us the last pair of key value
print(d.clear()) #if you use clear() in print it will give none
d.clear()
print(d)

{'name': 'akanksha', 'surname': 'waghmare', 'dob': 7, 'bloodgroup': 'A+'}
name: akanksha
{'name': 'akanksha', 'surname': 'waghmare', 'dob': 7, 'bloodgroup': 'A+', 'age': 23}
A+
('age', 23)
None
{}

In [ ]:
#program for sum of all the values in dict
mydict={'a':10,'b':20,'c':30,'d':40,'e':50}
print('The sum of all the values in mydict is :')
print(sum(mydict.values()))

The sum of all the values in mydict is :
150

In [ ]:
#program for concatenation of two dict
dict1={'a':'apple','b':'banana','c':'carrot'}
dict2={'d':'dish','e':'elephant'}
dict1.update(dict2)
print("The concatenated dictionary is :",dict1)

The concatenated dictionary is : {'a': 'apple', 'b': 'banana', 'c': 'carrot', 'd': 'dish', 'e': 'elephant'}

In [ ]:
#program for delete the key in dict
x={'a': 'apple', 'b': 'banana', 'c': 'carrot', 'd': 'dish', 'e': 'elephant'}
print('The main dictionary is :',x)
key = input("Enter the key to delete(a-e):")
if key in x: 
    del x[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(x)

The main dictionary is : {'a': 'apple', 'b': 'banana', 'c': 'carrot', 'd': 'dish', 'e': 'elephant'}
Enter the key to delete(a-e):f
Key not found!
Updated dictionary
{'a': 'apple', 'b': 'banana', 'c': 'carrot', 'd': 'dish', 'e': 'elephant'}

In [ ]:
#program for converting list in dict
k=['a','b','c']
v=['A','B','C']
d=dict(zip(k,v))
print(d)
rollno=['11','12','13','14','15']
name=['a','b','c','d','e']
x=dict(zip(name,rollno))
print(x)
d=print(zip(k,v))

{'a': 'A', 'b': 'B', 'c': 'C'}
{'a': '11', 'b': '12', 'c': '13', 'd': '14', 'e': '15'}
<zip object at 0x7f621b45e688>

In [ ]:
#program for finding the values in dict
student_name="akanksha"
marks = {'Vaishnavi': 98,'archana': 89, 'krutika': 40,'akanksha':100}
for student in marks:
    if student==student_name:
        print(marks[student])
        break
else:
        print("No entry found with such name")

100

In [5]:
keys={'akanksha','vaishnavi','microspectra'}
value=[1]
vowels=dict.fromkeys(keys,value)
print(vowels)
value.append(2)
print(vowels) #same values will be append to each key

{'vaishnavi': [1], 'akanksha': [1], 'microspectra': [1]}
{'vaishnavi': [1, 2], 'akanksha': [1, 2], 'microspectra': [1, 2]}

In [6]:
people = {1: {'Name': 'John', 'Age': '27', 'Sex': 'Male'},2: {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}}
x=people.items()
print(x)
for p_id in people.items():
  print(p_id)
for p_info in people.items():
    print(p_info)

dict_items([(1, {'Name': 'John', 'Age': '27', 'Sex': 'Male'}), (2, {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'})])
(1, {'Name': 'John', 'Age': '27', 'Sex': 'Male'})
(2, {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'})
(1, {'Name': 'John', 'Age': '27', 'Sex': 'Male'})
(2, {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'})

In [7]:
people = {1: {'Name': 'John', 'Age': '27', 'Sex': 'Male'},2: {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}}
for p_id, p_info in people.items():
  #print("\nPerson ID:", p_id)
  print(p_info)

{'Name': 'John', 'Age': '27', 'Sex': 'Male'}
{'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}