<a href="https://colab.research.google.com/github/akankshawaghmare/Microspectra/blob/main/ForLoop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
eve=[i for i in range(0,11,2)]
print(eve)

[0, 2, 4, 6, 8, 10]

In [ ]:
for i in range(1, 5):
    for j in range(1,i+1):
         print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
#program for pattern printing using for_loop
for a in range(1,6):
  for b in range(1,a+1):
    print(b,end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for a in range(6,1,-1):
  for b in range(1,a):
    print(b,end=" ")
  print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [3]:
#program for pattern printing using list
list1=[]            
for i in range(1,6):
  list1.append('#'*i)
print('\n'.join(list1))

#
##
###
####
#####

In [ ]:
list1=[]
for i in range(6,0,-1):
  list1.append('#'*i)
print('\n'.join(list1))

######
#####
####
###
##
#

In [ ]:
num=int(input("enter the number of rows"))
for i in range(0,num):
  for k in range(0,num-i- 1):
    print(end=" ")
  for j in range(0,i+1):
    print(j,end=" ")
  print()

enter the number of rows9
        0
       0 1
      0 1 2
     0 1 2 3
    0 1 2 3 4
   0 1 2 3 4 5
  0 1 2 3 4 5 6
 0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8