<a href="https://colab.research.google.com/github/akankshawaghmare/Microspectra/blob/main/listDataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#programs on list using range function
list1 = []
num1 = int(input('Enter size of list 1: '))
for n in range(num1):
    x = int(input('Enter any number:'))
    list1.append(x)
 
list2 = []
num2 = int(input('Enter size of list 2:'))
for n in range(num2):
    y = int(input('Enter any number:'))
    list2.append(y)
 
union = list(set().union(list1,list21))
 
print('The Union of two lists is:',union)

Enter size of list 1: 3
Enter any number:11
Enter any number:12
Enter any number:13
Enter size of list 2:2
Enter any number:14
Enter any number:5
The Union of two lists is: [5, 11, 12, 13, 14]

In [1]:
name=['vaishnavi','krutika','shivani','akanksha','archana','yogita','arpita']
for friend in range(len(name)):
    print("my friend's name is", name[friend])
num=[]
sum=0
for i in range(1,10000000):
    sum=sum + i
print(sum)
cubes=[]
for value in range(1,11):
    c=value ** 3
    cubes.append(c)
print(cubes)
cubes=[value**3 for value in range(1,11)]
print(cubes)

my friend's name is vaishnavi
my friend's name is krutika
my friend's name is shivani
my friend's name is akanksha
my friend's name is archana
my friend's name is yogita
my friend's name is arpita
49999995000000
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
names=['akanksha','vaishnavi','krutika','archana']
x=input('Enter the name you want :')
if x in names :
  print('you entered the name : ',x)
else:
  print('The name you have entered is not present')
names.reverse()
print(names)

Enter the name you want :akanksha
you entered the name :  akanksha
['archana', 'krutika', 'vaishnavi', 'akanksha']

In [ ]:
#program for addition of the list elements
list0=[]
sum=0
n=int(input("enter number of item in list"))
for i in range(0,n):
   a=int(input())
   list0.append(a)
print("list = ",list0)
for i in range(0,len(list0)):
  sum=sum+list0[i]
  
print("sum of items in list is: ",sum)

enter number of item in list3
2
2
2
list =  [2, 2, 2]
sum of items in list is:  6

In [ ]:
#program for even numbers
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for i in numbers :
  if i % 2 == 0 :
    print(numbers[i])

3
5
7
9
11
13
15